<!-- Beg: Navigation //-->
<div class="navbar navbar-static-top navbar-inverse">
    <!-- Shown When Collapsed //-->
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        Navigation <span class="glyphicon glyphicon-chevron-down"></span>
    </button>

    <!-- Site Brand Always Visible //-->
    <a class="navbar-brand" href="{{ site.url }}">{{ site.name }}</a>

    <!-- Shown Links When Expanded //-->
    <div class="nav-collapse collapse navbar-responsive-collapse">

        <ul class="nav navbar-nav">
            <li {% if page.title == 'Home' %}class="active"{% endif %}><a href="{{ site.url }}/"><span class="glyphicon glyphicon-home"></span> Home</a></li>

            <li {% if page.title == 'Tutors' %}class="active"{% endif %}><a href="{{ site.url }}/tutors/"><span class="glyphicon glyphicon-user"></span> Tutors</a></li>

            <li {% if page.title == 'Calendar' %}class="active"{% endif %}><a href="{{ site.url }}/calendar/"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>

            <li {% if page.title == 'Resources' %}class="active"{% endif %}><a href="{{ site.url }}/resources/"><span class="glyphicon glyphicon-book"></span> Resources</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li {% if page.title == 'About' %}class="active"{% endif %}><a href="{{ site.url }}/about/"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>

            <li {% if page.title == 'Contact' %}class="active"{% endif %}><a href="{{ site.url }}/contact/"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
        </ul>
    </div>
</div>
<!-- End: Navigation //-->
