---
layout: post
title:  'Email Forwarding'
author: 'Sophie Engle'
date:   2013-07-20
lead: 'Official university-related email, including the mailing lists for most CS courses, will be sent to your <code>@dons.usfca.edu</code> email address. It is <strong>very important</strong> you either (a) check this email daily or (b) forward your email to an account you check daily.'
---

<h2>Forward Email to Another Account</h2>

<p>If you do not want to check your <code>@dons.usfca.edu</code> email daily, you should setup email forwarding to an account you do check on a daily basis. Once you have email forwarding properly setup, all email (minus spam) sent to your <code>@dons.usfca.edu</code> email address will automatically be forwarded to your personal email address.</p>

{% assign thumbnail="email-forwarding.png" %}
{% include thumbnail.html %}

<p>To setup email forwarding for your <code>@dons.usfca.edu</code> email, you first need to log in to <a href="https://connect.usfca.edu/">USF Connect</a> and click the "Email" icon near the top of the page. From there, you should be able to use the following guide to setup email forwarding:</p>

<ul>
    <li>
        <a href="https://support.google.com/mail/answer/10957">https://support.google.com/mail/answer/10957</a>
    </li>
</ul>

<p>More information about your university email account can be found on the <a href="http://www.usfca.edu/its/communication/email/">ITS webpage</a>, including where to go for help if you run into any email-related issues.</p>

<h2>Send Email From Forwarded Account</h2>

<p>The mailing lists for CS courses also expect you to send email from your <code>@dons.usfca.edu</code> email address. If you use a different email address, it may get marked as spam or have to wait for a moderator to approve the message.</p>

<p>You can send email from your <code>@dons.usfca.edu</code> email address without having to login to USF Connect. For example, in Gmail, you can select which email address to send from:</p>

{% assign thumbnail="email-sending.png" %}
{% include thumbnail.html %}

<p>If you are using Gmail, you can use the following guide to send email using your <code>@dons.usfca.edu</code> address from your other account:</p>

<ul>
    <li>
        <a href="https://support.google.com/mail/answer/22370">https://support.google.com/mail/answer/22370</a>
    </li>
</ul>

<p>If you want to send email from your personal email as your <code>@dons.usfca.edu</code> address and you do not use Gmail, you will have to refer to guides specific to your email account or client.</p>
