---
layout: post
title:  'About CS Accounts'
author: 'Vahab Pournaghshband'
date:   2022-08-02
lead: 'This guide will explain the difference between your USF Connect account and your CS account, as well as how to check if your account is setup.'
---

<h2>Account Basics</h2>

<p>Your CS account shares the same username as your USF Connect account, but <em>different</em> passwords. You should use your CS account for the following purposes:</p>

<ul>
  <li>
    <p>Logging into the computers in CS classrooms and labs,</p>
  </li>

  <li>
    <p>Logging into the lab computers remotely.</p>
  </li>
  
</ul>

<p>Alternatively, you use your USF Connect username and password to login to USF Connect and access your <code>@dons.usfca.edu</code> email and other university-wide resources.</p>

<h2>Logging In</h2>

<p>Your username will always be the same as your USF Connect username. You can determine your username by looking at the part before <code>@dons.usfca.edu</code> in your USF email address. For example, if my email address is <code>vpournaghshband@dons.usfca.edu</code> then my username will be <code>vpournaghshband</code>.</p>

<p>Your initial password will be the <b>LAST</b> six digits of your student ID. Since your student ID is 8 digits, remove the first two digits from your student ID (usually 20) and use the remaining digits as your password. For example, if your student ID is <code>20123456</code>, then your initial password will be <code>20123456</code>.</p>

<p>You should change your password after logging in for the first time. You can do this by opening a Terminal window and entering <code>passwd</code> at the command line <em class="muted">(note the spelling)</em>. Follow the prompts to choose a new password.</p>
<!-- 
<h2>Troubleshooting</h2>

<p>When you register for a computer science class, a CS account will be automatically created for you. However, if you registered late it is possible an account has not yet been setup.</p>

<p>If you are having trouble logging in, there is a simple test to determine if you have an account. Try entering the following link into your web browser, <b>replacing <code>test</code> with your CS username</b>:</p>

<pre>http://www.cs.usfca.edu/~test</pre>

<p>For example, if my USF Connect and CS account username is <code>sjengle</code>, then I would try the link <code>http://www.cs.usfca.edu/~sjengle</code> to test my account.</p>

<p>If you have an account setup, you should see something like this:<p>

{% assign thumbnail="about-test.png" %}
{% include thumbnail.html %}

<p>If you see the above image, then you have an account setup. If you are unable to login, double check that you are trying to login using the LAST six digits of your student ID.</p>

<p>Your account is not setup yet if you see something like this instead:</p>

{% assign thumbnail="about-nowhere.png" %}
{% include thumbnail.html %}

<p>If this is the case, please contact <a href="http://cs.usfca.edu/support.html">CS Support</a> at <a href="mailto:support@cs.usfca.edu">support@cs.usfca.edu</a> to have a CS account setup for you.</p> -->
