---
layout: post
title:  'Graduate Advising FAQ'
author: 'Sophie Engle'
date:   2013-08-19
lead: 'This guide will answer several advising-related questions for MSCS and MSWS students.'
---

<!--
    http://www.usfca.edu/cs/gradfaq/
    http://www.usfca.edu/artsci/csg/entrepreneurship_emphasis/
//-->

<h2><a name="program"></a>Program Requirements</h2>

<p><a href="http://xkcd.com/754/"><img src="http://imgs.xkcd.com/comics/dependencies.png" class="img-polaroid"><br>
<small><em>XKCD: Dependencies</em></small></a></p>

<dl>
    {% assign linkname="progam_mscs" %}
    <dt>{% include faq.html %} What are the requirements for the Masters in Computer Science (MSCS) degree?</dt>

    <dd>
        <p><strike>See <a href="http://www.usfca.edu/artsci/csg/">http://www.usfca.edu/artsci/csg/</a> for details.</strike></p>

        <p>Students that do not have a CS background may have additional <a href="#foundational">foundational requirements</a> for their degree.</p>
    </dd>

    {% assign linkname="program_msws" %}
    <dt>{% include faq.html %} What are the requirements for the Masters in Web Science (MSWS) degree?</dt>

    <dd>
        <p><strike>See <a href="http://www.usfca.edu/artsci/msws/">http://www.usfca.edu/artsci/msws/</a> for details.</strike></p>

        <p>Students that do not have a CS background may have additional <a href="#foundational">foundational requirements</a> for their degree.</p>
    </dd>

    {% assign linkname="program_cas" %}
    <dt>{% include faq.html %} What are the college-wide graduate requirements for the College of Arts and Sciences?</dt>

    <dd><p>See the <a href="http://www.usfca.edu/catalog/Artsci/Graduate_College_of_Arts_and_Sciences/">General Catalog</a> for details.</p></dd>

    {% assign linkname="program_gpa" %}
    <dt>{% include faq.html %} What is the required GPA for the MSCS or MSWS degrees?</dt>

    <dd>
        <p>Students must maintain a B average (3.0 GPA) on all degree requirements. Students that fall below this average will be placed on a academic probation. Students on academic probation who fail to raise their cumulative grade point average to 3.0 by the time they have completed the next six (6) credit hours of graduate work are subject to disqualification from the program. See the <a href="http://www.usfca.edu/catalog/regulations/gradstudent/">General Catalog</a> for details.</p>
    </dd>

    {% assign linkname="program_checklist" %}
    <dt>{% include faq.html %} Where do I get the requirements checklist form?</dt>

    <dd>
        <p><a href="{{ site.url }}/assets/MSCS.pdf">Click to download MSCS Requirements Checklist.</a><br><a href="{{ site.url }}/assets/MSWS.pdf">Click to download MSWS Requirements Checklist.</a></p>

        <p><em>Keep in mind these are unofficial checklists provided for planning purposes.</em></p>
    </dd>

    {% assign linkname="program_minimum" %}
    <dt>{% include faq.html %} What is the minimum number of courses I should take?</dt>

    <dd>
        <p>To be considered a full-time student, graduate students need 6+ credit hours and undergraduate students need 12+ credit hours. Since most courses are 4 units each, this works out to a minimum of 2 graduate courses or 3 undergraduate courses a semester. See the <a href="http://www.usfca.edu/catalog/regulations/gradstudent/">General Catalog</a> for details.</p>
    </dd>

    {% assign linkname="program_maximum" %}
    <dt>{% include faq.html %} What is the maximum number of courses I should take?</dt>

    <dd>
        <p>Most semesters you should take 2 graduate classes at once, although there often be at least one semester you must take 3 classes to finish within 2 years.</p>

        <p>For an undergraduate course, students are expected to spend a <strong>minimum</strong> of 2 hours outside of class for every 1 credit hour. For example, a 4 credit hour course requires a minimum of 8 hours of out-of-class work.</p>

        <p>For graduate courses and upper-division courses, you should raise this expectation significantly. For example, a 4 credit hour graduate course will often take an average of 10 to 20 hours of outside work. Taking 3 graduate courses at once could result in anywhere between 30 to 60 hours of outside work!</p>

        <p>See the <a href="http://www.usfca.edu/uploadedFiles/Destinations/Offices_and_Services/Provost/docs/USF%20Credit%20Hour%20Policy(1).pdf">Credit Hour Policy</a> for details on the minimum number of out-of-class hours for a course.</p>
    </dd>
</dl>

<h2>Contact Information <a name="contact"></a></h2>

<dl>
    {% assign linkname="contact_advisor" %}
    <dt>{% include faq.html %} Who do I contact for advising questions (e.g. courses, registration, holds, foundational requirements, etc.)?</dt>

    <dd>
        <p>You should contact the graduate advisor, Sophie Engle, via email at <a href="mailto:sjengle@cs.usfca.edu">sjengle@cs.usfca.edu</a>.</p>
    </dd>

    {% assign linkname="contact_director" %}
    <dt>{% include faq.html %} Who do I contact for admissions questions (e.g. admission requirements, test scores, scholarships, etc.)?</dt>

    <dd>
        <p>You should contact the graduate director, Terence Parr via email at <a href="mailto:parrt@cs.usfca.edu">parrt@cs.usfca.edu</a>.</p>
    </dd>
</dl>

<h2>Course Registration <a name="registration"></a></h2>

<dl>

    {% assign linkname="registration_grad" %}
    <dt>{% include faq.html %} How do I register for graduate courses?</dt>

    <dd>
        <p>You may register for graduate courses online in USF Connect. See <a href="http://www.usfca.edu/registration/onlineregistration/">this page</a> for instructions. If you run into any holds that prevent you from registering for graduate courses, please <a href="#contact">contact the graduate advisor</a>.</p>
    </dd>

    {% assign linkname="registration_undergrad" %}
    <dt>{% include faq.html %} How do I register for undergraduate courses?</dt>

    <dd>
        <p>Since most of our undergraduate courses have prerequisite requirements, you will be unable to register for these courses the same way as graduate courses. There are two options for registering for undergraduate courses:

            <ol>
                <li><p>You can contact the instructor of the class and ask to have your prerequisite requirement waived in USF Connect. Make sure you include your CWID/student ID number. The instructor can waive the prerequisite by logging into Banner, clicking the "Faculty Services" tab, and selecting "Registration Overrides".</p>

                <p><strong class="text-danger">You must still enroll in the course.</strong> This process only waives the prerequisite requirement in the system, and does not actually register you in the course. Once the instructor confirms the requirement has been waived, you must still register for the course in USF Connect (see above).</p></li>

                <li><p>You may fill out an <a href="http://www.usfca.edu/onestopforms/">Registration Add/Drop Form</a> (under the "Records and Registration" category). You must get the graduate advisor to sign the form, and then drop it off at the <a href="http://www.usfca.edu/onestop/">One Stop</a> office.</p></li>
            </ol>

        <p class="text-muted">Note that if you attempt to register for a course after the first week of class, you will need additional signatures to complete the registration process.</p>
    </dd>

    {% assign linkname="registration_issues" %}
    <dt>{% include faq.html %} Who do I contact if I am having problems registering for courses?</dt>

    <dd><p>You should <a href="#contact">contact the graduate advisor</a>.</p></dd>
</dl>

<h2>Elective Requirements <a name="electives"></a></h2>

<dl>
    {% assign linkname="electives_total" %}
    <dt>{% include faq.html %} How many electives are required total?</dt>

    <dd>
        <p>For MSCS, you must have 5 elective courses or 20 units of electives total. For MSWS, you must have 3 elective courses or 12 electives total.</p>
    </dd>

    {% assign linkname="electives_600level" %}
    <dt>{% include faq.html %} How many electives must be 600-level?</dt>

    <dd>
        <p>For MSCS, you must have 2 electives at a 600-level, even if you are enrolled in the <a href="#emphasis">Emphasis for Entrepreneurship</a>. For MSWS, you must have ONE 600-level elective.</p>

        <p>These electives may <strong>NOT</strong> be substituted with directed study units, practicum units, or units from the Emphasis in Entrepreneurship. They must be from graduate courses offered by our department.</p>
    </dd>

    {% assign linkname="electives_200level" %}
    <dt>{% include faq.html %} How many electives can be 200-level?</dt>

    <dd>
        <p>Only 1 elective may be 200-level, with permission of the graduate advisor. This is generally used to take CS 212 Software Development your first semester.</p>
    </dd>

    {% assign linkname="electives_foundational" %}
    <dt>{% include faq.html %} How many foundational requirements may be used as electives?</dt>

    <dd>
        <p>Only TWO <a href="#foundational">foundational requirements</a> may be used as electives. For example, if you have 4 foundational requirements, only 2 of those courses may be counted as electives. As such, you may need additional time to complete the Master's degree.</p>
    </dd>

    {% assign linkname="electives_practicum" %}
    <dt>{% include faq.html %} How many directed study or practicum units may be used as electives?</dt>

    <dd>
        <p>You may only use 8 units of directed study and <a href="practicum">practicum</a> for electives. These units do <strong>NOT</strong> count towards a 600-level elective.</p>
    </dd>

    {% assign linkname="electives_emphasis" %}
    <dt>{% include faq.html %} How many units from the Emphasis in Entrepreneurship program can be used as electives?</dt>

    <dd>
        <p>The <a href="#emphasis">Emphasis in Entrepreneurship</a> program replaces 2 courses or 8 units of CS electives. <em>Note that you must still complete the required number of 600-level CS electives.</em></p>
    </dd>

    {% assign linkname="electives_other" %}
    <dt>{% include faq.html %} Does the courses I took as part of a different degree program at USF count as electives towards my Master's degree?</dt>

    <dd>
        <p>No, you may not apply units used for your another degree at USF for your graduate degree (i.e. double-dipping of units is not allowed). The <strong>only</strong> exception is CS 490 Senior Team Project and CS 690 Master's Project. If you took CS 490 as an undergraduate student in our program, your CS 690 Master's Project requirement will be waived.</p>
    </dd>
</dl>

<h2>Practicum Option <a name="practicum"></a></h2>

<dl>
    {% assign linkname="practicum_about" %}
    <dt>{% include faq.html %} What is the practicum option?</dt>

    <dd>
        <p>The practicum option allows students to gain practical experience in industry while earning credit towards their degree. It is primarily used by international students. See <a href="http://www.usfca.edu/artsci/csg/practicum/">http://www.usfca.edu/artsci/csg/practicum/</a> for more details.</p>
    </dd>

    {% assign linkname="practicum_who" %}
    <dt>{% include faq.html %} Who can take the practicum option?</dt>

    <dd>
        <p>Any graduate student may take the practicum option. However, it is most useful for full-time international students.</p>

        <p>US citizens and part-time students may take the practicum option, but restrictions apply. For example, US citizens may not use their current job for practicum units and part-time students may not exceed 20 hours per week during the school year.</p>
    </dd>

    {% assign linkname="practicum_units" %}
    <dt>{% include faq.html %} How many units is the practicum option?</dt>

    <dd>
        <p>The practicum option is 2 units per semester enrolled, even in the summer.</p>
    </dd>

    {% assign linkname="practicum_limit" %}
    <dt>{% include faq.html %} Is there a limit to the number of times I can take the practicum option?</dt>

    <dd>
        <p>Yes, you may enroll in a maximum of 8 practicum units total (four semesters). Keep in mind, however, that only 4 practicum units may be used as an elective for your degree.</p>
    </dd>

    {% assign linkname="practicum_hours" %}
    <dt>{% include faq.html %} Is there a limit to the number of hours I can work?</dt>

    <dd>
        <p>Yes, students should work no more than 20 hours a week during the school year. However, students may work 40 hours a week during the summer.</p>
    </dd>

    {% assign linkname="practicum_tuition" %}
    <dt>{% include faq.html %} Do I need to pay tuition to take the practicum option?</dt>

    <dd>
        <p>Yes, the practicum is a 2 unit course, and you will be billed accordingly.</p>
    </dd>

    {% assign linkname="practicum_placement" %}
    <dt>{% include faq.html %} Do I get placed into an internship for the practicum option?</dt>

    <dd>
        <p>No, students are solely responsible for finding internships for the practicum. Faculty will not place students in internships.</p>
    </dd>

    {% assign linkname="practicum_intern" %}
    <dt>{% include faq.html %} What type of positions count for practicum?</dt>

    <dd>
        <p>The position must be related to computer science, and must not exceed the hour restrictions (<a href="#practicum_hours">see above</a>).</p>

        <p>US citizens may not use their existing job for practicum credit, but may obtain a separate internship to receive credit.</p>
    </dd>

    {% assign linkname="practicum_f1visa" %}
    <dt>{% include faq.html %} I have an F-1 student visa. When am I eligible to take the practicum option?</dt>

    <dd>
        <p>International students are <strong>not</strong> eligible for their first 9 months (or 2 semesters). If you start in the fall semester, you will be eligible for practicum in the following summer semester.</p>

        <p>Please note that practicum is not an option your second summer semester&mdash;you must have already completed all of your degree requirements by that time.</p>
    </dd>

    {% assign linkname="practicum_prereq" %}
    <dt>{% include faq.html %} What are the prerequisites for taking the practicum course?</dt>

    <dd>
        <p>Students must have an offer letter from their employer, and need a 3.3 GPA or above.</p>

        <p>If you are an international student, you must also provide a signed CPT letter to ISSS.</p>
    </dd>

    {% assign linkname="practicum_enroll" %}
    <dt>{% include faq.html %} How do I enroll in the practicum course (including obtaining a Curricular Practical Training (CPT) letter)?</dt>

    <dd>
        <p>You must first <a href="#contact">contact the graduate advisor</a> via email with a copy of your offer letter and contact information for your supervisor. If you also need a CPT letter for ISSS, include your name, start date, end date, graduation date, company name, number of hours per week, and program.</p>

        <p>You will be provided a signed CPT letter if necessary, which you then will need to take to ISSS along with an Add/Drop form. Otherwise, the you need to take an Add/Drop form to the graduate advisor to sign.</p>

        <p>You <strong>SHOULD NOT</strong> register for the practicum course until you have followed the steps above!</p>
    </dd>

    {% assign linkname="practicum_late" %}
    <dt>{% include faq.html %} Can I enroll in the practicum course late in the semester?</dt>

    <dd>
        <p>The practicum course requires that you complete 300 hours of work in the course of the semester. You may register for the course at anytime as long as you are able to fulfill this requirement. For most students, this means you must register and start working by the second week of class.</p>
    </dd>

    {% assign linkname="practicum_level" %}
    <dt>{% include faq.html %} Does the practicum course count as a 600-level elective?</dt>

    <dd>
        <p>No, while up to 4 units of practicum may be counted as an elective, it does not count as a 600-level elective.</p>
    </dd>

    {% assign linkname="practicum_part" %}
    <dt>{% include faq.html %} May I take the practicum course if I am a part-time student?</dt>

    <dd>
        <p>Yes, but at the same restrictions as full-time students apply to part-time students as well.</p>

        <p>You may not earn practicum units for a full-time position during the school year, but may earn 2 units during the summer. US citizens may not use their existing job for practicum credit, but may obtain a separate internship to receive credit.</p>
    </dd>
</dl>

<h2>Emphasis in Entrepreneurship <a name="emphasis"></a></h2>

<dl>

    {% assign linkname="emphasis_about" %}
    <dt>{% include faq.html %} What is the Emphasis in Entrepreneurship?</dt>

    <dd>
        <p>Students enrolled in the entrepreneurship emphasis take a standard MSCS or MSWS degree, but take their electives in the top tier Entrepreneurship Program from the business school alongside MBA students.</p>
    </dd>

    {% assign linkname="emphasis_degree" %}
    <dt>{% include faq.html %} How does the Emphasis in Entrepreneurship program affect my MSCS or MSWS degree?</dt>

    <dd>
        <p>You must still fulfill all of the requirements of the MSCS/MSWS programs, <strong>except</strong> that you will replace 8 units of CS electives with 8 units of MBA courses in the Entrepreneurship Program. <em>Note that you must still complete the required number of 600-level CS electives.</em></p>

    {% assign linkname="emphasis_join" %}
    <dt>{% include faq.html %} How do I join the Emphasis in Entrepreneurship program?</dd>

    <dd>
        <p>You should <a href="#contact">contact the graduate advisor</a> and express your interest in the program.</p>

        <p>If approved, you will need to fill out a "Change of Academic Program" form (under "Records and Registration" at <a href="http://usfca.edu/onestopforms/">OneStop Forms</a>) and get the necessary signatures.</p>
    </dd>

    {% assign linkname="emphasis_electives" %}
    <dt>{% include faq.html %} What are the approved electives I may take as part of the Emphasis in Entrepreneurship program?</dt>

    <dd>
        <p>You may take any of the following classes:</p>
        <ul class="list-unstyled">
            <li>MBA 6601 Entrepreneurial Management*</li>
            <li>MBA 6603 Creativity and Innovation*</li>
            <li>MBA 6605 Small Business Ventures*</li>
            <li>MBA 6607 Corporate Entrepreneurship and Innovation*</li>
            <li>MBA 6609 Internet Business Applications</li>
            <li>MBA 6620 Silicon Valley Immersion</li>
        </ul>
        <p class="text-muted">* Recommended Courses</p>
    </dd>

    {% assign linkname="emphasis_register" %}
    <dt>{% include faq.html %} How do I register for the approved Emphasis in Entrepreneurship electives?</dt>

    <dd>
        <p>You must first enroll in the Emphasis in Entrepreneurship program (see above). You will then be able to enroll in the approved MBA courses online. If you run into issues with registration, please email <a href="mailto:somgradadvisor@usfca.edu">somgradadvisor@usfca.edu</a> <strong>AND</strong> <a href="#contact">the graduate advisor</a> with your registration request. Your request will not be successful if you do not include BOTH email addresses!</p>
    </dd>

    {% assign linkname="emphasis_level" %}
    <dt>{% include faq.html %} Does the Emphasis in Entrepreneurship courses count as 600-level electives?</dt>

    <dd>
        <p>No, only traditional graduate courses offered by our department may be used to satisfy the that requirement.</p>
    </dd>

    {% assign linkname="emphasis_schedule" %}
    <dt>{% include faq.html %} When should I start taking Entrepreneurship courses?</dt>

    <dd>
        <p>You should start taking these courses as soon as possible. Since these courses are offered by a separate program, we do not control when and how often these courses are scheduled.</p>

        <p>Keep in mind that some of these courses may be offered on a separate campus, which will add to your commute time. You also should not miss a core computer science course to take an entrepreneurship course.</p>
    </dd>

</dl>

<h2>Foundational Requirements <a name="foundational"></a></h2>

<dl>
    {% assign linkname="foundational_about" %}
    <dt>{% include faq.html %} What are foundational requirements?</dt>

    <dd>
        <p>These are requirements you must take in addition to the requirements for the MSCS or MSWS degrees. These are courses that provide the foundation necessary for being successful in graduate-level courses in computer science.</p>

        <p>Keep in mind that if you have more than 2 foundational requirements, you may not be able to complete your degree in 2 years.</p>
    </dd>

    {% assign linkname="foundational_requirements" %}
    <dt>{% include faq.html %} How do I know if I have foundational requirements?</dt>

    <dd>
        <p>Foundational requirements are included on your offer letter. If you are unable to find your offer letter, please <a href="#contact">contact the graduate advisor</a>.</p>
    </dd>

    {% assign linkname="foundational_start" %}
    <dt>{% include faq.html %} When should I start satisfying my foundational requirements?</dt>

    <dd>
        <p>You should start satisfying your foundational requirements right away, as you generally need the skills taught in these courses for the other graduate-level courses. However, many foundational courses (except for CS 212 Software Development) may be full by the time you arrive at USF. As such, most students start taking foundational requirements during their second semester.</p>
    </dd>

    {% assign linkname="foundational_before" %}
    <dt>{% include faq.html %} Can I start fulfilling my foundational requirements before I officially start as a graduate student in the program?</dt>

    <dd>
        <p>Yes, you may enroll at USF as a visiting student. This will allow you to sign up for courses to fulfill your foundational requirements before you are officially accepted to the program. See <a href="http://www.usfca.edu/registration/visiting/">http://www.usfca.edu/registration/visiting/</a> for more information.</p>
    </dd>

    {% assign linkname="foundational_electives" %}
    <dt>{% include faq.html %} How many foundational requirements may be used as electives?</dt>

    <dd>
        <p>Only 2 foundational requirements may be used as electives. For example, if you have 4 foundational requirements, only 2 of those courses may be counted as electives. As such, you may need additional time to complete the Master's degree.</p>
    </dd>

    {% assign linkname="foundational_usf" %}
    <dt>{% include faq.html %} Do foundational requirements need to be taken at USF?</dt>

    <dd>
        <p>No, you may take these requirements at another <em>reputable</em> university (not a community college) if you wish. Please <a href="#contact">contact the graduate advisor</a> to get approval <strong>BEFORE</strong> enrolling in courses at another institution.</p>

        <p>You will need to submit an official transcript from this institution before your foundational requirement will be waived. As such, many online courses will not fulfill these requirements.</p>
    </dd>

    {% assign linkname="foundational_test" %}
    <dt>{% include faq.html %} Can I test out or waive the foundational requirements?</dt>

    <dd>
        <p>For the most part, you may not test out of the foundational requirements. The exceptions are listed below:</p>

        <ul>
            <li><p>You may <em>waive</em> CS 212 Software Development by passing the test provided at your first orientation.</p></li>

            <li><p>You may <em>waive</em> CS 245 Data Structures and Algorithms if you receive a B or higher in CS 673 Algorithms.</p></li>

            <li><p>You may <em>substitute</em> CS 652 Programming Languages for the CS 414 Compilers requirement, but in that case CS 652 may only count as a 600-level elective and not a core requirement.</p>
        </ul>

        <p>If a foundational requirement is <em>waived</em>, then it is removed from your degree checklist entirely. If a foundational requirement is <em>substituted</em>, then it is still considered a foundational requirement on your degree checklist.</p>
    </dd>

    {% assign linkname="foundational_core" %}
    <dt>{% include faq.html %} Does CS 652 Programming Languages count for both a foundational requirement and a core course?</dt>

    <dd>
        <p>No, you may not use this course to fulfill both requirements. If you take CS 652 to fulfill your foundational requirement, you may not also use it to fulfill a core requirement. However, you may use up to two foundational courses as electives.</p>
    </dd>


    {% assign linkname="foundational_english" %}
    <dt>{% include faq.html %} What do I do if I have an English course requirement?</dt>

    <dd>
        <p>You must take 4 units of English as a Second Language (ESL) courses. Generally, you can take these courses in addition to two CS courses. See the <a href="http://usfca.edu/esl/">ESL Department</a> for a list of courses.</p>
    </dd>

</dl>

