---
layout: post
title:  'Creating a Google Site'
author: 'Sophie Engle'
date:   2013-08-01
lead: 'You can use Dons Apps (a version of Google Apps) to create a Google Site. Google Sites include a WYSIWYG (What You See Is What You Get) webpage editor, so you do not need to write your own code. Go to <a href="http://support.google.com/sites/?hl=en">http://support.google.com/sites/?hl=en</a> to learn more about Google Sites. Go to <a href="http://cs.usfca.edu/support/google-sites.html">http://cs.usfca.edu/support/google-sites.html</a> for an alternate guide.
'
---

<h2>Creating a New Site</h2>

<p>You will create this site using Dons Apps. First, you need to log in to USF Connect at <a href="https://connect.usfca.edu/">https://connect.usfca.edu/</a> using your USF Connect username and password (not your CS account):</p>

{% include thumbnail.html image="google-site-login.png" %}

<p>Once you have logged in, click the email icon near the top left of the page:</p>

{% include thumbnail.html image="google-site-connect-icons.png" %}

<p>This will open up Dons Apps. You can switch from Gmail to Google Sites by clicking the "Sites" link at the top of the page. You can create your first Google Site by clicking the "Create" button on the left:</p>

{% include thumbnail.html image="google-site-create-site.png" %}

<p>Next, you need to give your website a name. I suggest you use your full name as the website name, and your username as the site location:</p>

{% include thumbnail.html image="google-site-create-config.png" %}

<p>If you enter your username for the site location, you will end up with a URL similar to (replacing <code>username</code> with your own username):</p>

<pre>
https://sites.google.com/a/usfca.edu/username
</pre>

<p>Click the "Create" button at the top when you are done entering the name. We will update the rest of the settings, like the theme, later. You should end up seeing a site similar to the following:</p>

{% include thumbnail.html image="google-site-empty-site.png" %}

<p>At this point, you have a Google Site! Unfortunately, nobody can see it yet. We will customize the visibility and theme settings of your Google Site next.</p>

<h2>Customizing Visibility</h2>

<p>We should make sure everyone can see your Google Site. Click on the blue "Share" button in the top-right corner. Once there click the "Change..." link in the "Who has access" section:</p>

{% include thumbnail.html image="google-site-share-link.png" %}

<p>On the next screen, select "Public on the web" and click the "Save" button.</p>

{% include thumbnail.html image="google-site-visibility-setting.png" %}

<p>After this point, everyone will be able to view your Google Site. Click the "Return to site" link at the very bottom of the page (in the footer) to return to your home page.</p>

<h2>Customizing Theme</h2>

<p>You may also want to customize the theme of your website. You will need to be in the "Manage Site" page for this part. From your home page, click the "More" button at the top-right corner of the page and select "Manage site" from the menu:</p>

{% include thumbnail.html image="google-site-manage-menu.png" %}

<p>From the "Manage Site" page, scroll the left navigation pane down to the bottom. Click on the "Themes" link at the bottom. From here, you can select any theme you want:</p>

{% include thumbnail.html image="google-site-select-theme.png" %}

<p>You can preview each theme by clicking the magnifying glass icon. Once you have your theme selected, click the "Save" button at the top of the page. To see your site with the new theme, click the "Return to site" link at the bottom of the page (in the footer). Here is an example using the "Notebook" theme:</p>

{% include thumbnail.html image="google-site-sample-theme.png" %}

<p>The following screenshots use the "Notebook" theme, but you can choose any one you want.</p>

<h2>Adding Content</h2>

<p>You can edit any page, including your home page, by clicking the pencil icon near the top of the page:</p>

{% include thumbnail.html image="google-site-edit-icon.png" %}

<p>This will open an editor where you can type text. You can modify the appearance of this text by clicking different buttons on the tool bar:</p>

{% include thumbnail.html image="google-site-edit-text.png" %}

<p>You can also insert media, like images, links, gadgets, and Google documents from the "Insert" menu:</p>

{% include thumbnail.html image="google-site-insert-image.png" %}

<p>Click the "Save" button when you are done.</p>

<h2>Adding Pages</h2>

<p>You will likely want to add new pages to your site. Next to the edit button is a pencil icon, that will let you create a new page. From here, you can enter the page name, change the page template, and decide where to put the page:</p>

{% include thumbnail.html image="google-site-create-page.png" %}

<p>Depending on your theme, the new page should automatically show up on the navigation bar for your website.</p>
